<!-- common.html -->

<!-- hosted css/js:
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
-->

<!-- Local CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">

<!-- Local JS -->
<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>


<style>
    
    body { margin: 10px; }
    .container-fluid { padding: 0 15px; }
    .table-responsive {
    width: 100%; /* Make sure the container takes full width */
}
    header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start; /* Align items at the start */
        }
    h1 {
        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: clamp(1.5rem, 3vw, 2.5rem); /* Dynamic font size */
        margin-bottom: 0;
    }
    .active {
        font-weight: bold;
        color: #007bff; /* Bootstrap primary color */
        text-decoration: underline;
    }
    .logo {
        width: 10%; /* Adjust the width of the logo as needed */
        height: auto;
    }
    .divider {
        height: 3px;
        width: 40%; /* 40% of the title's width */
        background-color: #000000;
    }

    .table {
        width: 100%; /* Make the table take the full width of its container */
        max-width: 99%; /* Ensure the table does not exceed the width of its container */
        table-layout: auto; /* Adjust column widths automatically */
        font-size: 0.875rem; /* Keep the font size */
    }

    .editable { cursor: pointer; }
    .non-editable { }
</style>

<script>
$(document).ready(function() {


    $.datepicker.regional['da'] = {
            closeText: "Luk",
            prevText: "Forrige",
            nextText: "Næste",
            currentText: "I dag",
            monthNames: [ "Januar", "Februar", "Marts", "April", "Maj", "Juni",
                          "Juli", "August", "September", "Oktober", "November", "December" ],
            monthNamesShort: [ "Jan", "Feb", "Mar", "Apr", "Maj", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dec" ],
            dayNames: [ "Søndag", "Mandag", "Tirsdag", "Onsdag", "Torsdag", "Fredag", "Lørdag" ],
            dayNamesShort: [ "Søn", "Man", "Tir", "Ons", "Tor", "Fre", "Lør" ],
            dayNamesMin: [ "Sø", "Ma", "Ti", "On", "To", "Fr", "Lø" ],
            weekHeader: "Uge",
            dateFormat: "dd-mm-yy",
            firstDay: 1, // Monday as the first day of the week
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ""
        };
        $.datepicker.setDefaults($.datepicker.regional['da']); // Apply Danish settings


    // Set the width of the divider to 40% of the h1 width
    function adjustDivider() {
            var h1Width = $('h1').width();
            $('.divider').css('width', h1Width * 0.4 + 'px');
        }

    // Adjust the divider on page load and window resize
    adjustDivider();
    $(window).resize(adjustDivider);

});

</script>
